## Ejercicios - Tuplas, Sets y Diccionarios

### Tuplas

### Ejercicio 1
- Crea una tupla utilizando la función **range()**, que tenga un rango del 11 al 19.
    - Ejemplo: **tupla = tuple(range(3))**

### Ejercicio 2
- Crea una lista vacia y llenala con los números de la tupla anterior usando un bucle.

### Ejercicio 3
- Ordena la lista de mayor a menor.

### Ejercicio 4
- Transforma la lista a tupla y ordenala de menor a mayor.

### Ejercicio 5
- ¿Que tipo de dato es la variable resultante?

### Ejercicio 6
- Dada la siguiente **frase = "Fui programado para servir, no para destruir - C3PO"**, conviertela en tupla, ordenala y manten la tupla. (El resultado final debe ser una tupla)

In [ ]:
frase = "Fui programado para servir, no para destruir - C3PO"

### Ejercicio 7
- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: **("a", "e", "i", "o", "u")**

### Ejercicio 8
- Dada la siguiente tupla: **(9, 8, 7, 5, "a", 3, 6, 5)**, encuentra la forma para eliminar la letra **"a"**. (El resultado final debe ser una tupla)

### Ejercicio 9
- Pregunta a un usuario que ingrese 5 elementos diferentes separados por coma y convierte estos elementos a una tupla, pueden ser palabras o un números.

### Ejercicio 10
- Dada la siguiente lista de tuplas: **[(10, 20, 40), (40, 50, 60), (70, 80, 90)]**, elimina el último elemento de cada tupla dentro de la lista.

### Sets

### Ejercicio 11
- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al **set_1 = {"Meta", "Google", "Amazon"}**

- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [ ]:
set_1 = {"Meta", "Google", "Amazon"}

### Ejercicio 12
- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan.

In [ ]:
set_1 = {"Meta", "Google", "Amazon"}

### Ejercicio 13
- Dadas las siguientes **frases_1 = "En una galaxia lejana"** y **frase_2 = "Una galaxia llamadá Via Lactea"**, haz la intersección de las palabras.

### Ejercicio 14
- Encuentra la diferencia entre el **set_1 = {9, 8, 7, 6, 5, 4, 3, 2}** y el **set_2 = {9, 8, 10}**
- **Extra**: hazlo utilizando un bucle **for** y no la función.

### Diccionarios

### Ejercicio 15
- Crea un diccionario con 5 elementos (5 llaves y 5 valores)
    - **Llave**: Color
    - **Valor**: Numero de letras del color

### Ejercicio 16
- Crea un diccionario con 5 elementos pero esta vez pregunta el usuario por cada llave y valor.
    - **Llave**: Color
    - **Valor**: Numero de letras del color

### Ejercicio 17
- Repite el ejercicio anterior pero de la siguiente forma:
    - Primero crea en una lista los colores y en otra lista el numero de letras
    - Después crea el diccionario a partir de las listas.

### Ejercicio 18
- Pide al usuario que ingrese 3 números distintos y guarda esos números como llaves y crea los valores utilizando la siguiente formula:
    - x : x**2
    
Donde x es la llave.

### Ejercicio 19
- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. Usa la función **Counter**.

### Ejercicio 20
- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar

### Ejercicio 21
- Crea un programa donde las keys son 10 números enteros aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x : 1/x

### Ejercicio 22
- Crea un programa que dados los siguientes diccionarios: **d1 = {"a" : 125, "b" : 130, "c" : 150}**, **d2 = {"e" :  10, "b" : 20, "a" : 30}**, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [ ]:
##############################################################################################################################